html {
    font-size: 16px;
}

body {
    font-family: Noto Sans, sans-serif;
    position: relative;
    margin: 0;
    font-size: 1.25rem;
}

header {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(1, 1, 1, 0);
    border-bottom: solid grey thin;
    margin: 0;
    padding: 0;
    font-size: 0.9375rem;
}

footer {
    display: flex;
    border-top: solid grey thin;
    font-size: 0.9375rem;
}

button {
    border: 2px solid;
    padding: 18px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25rem;
    margin-left: 60px;
    cursor: pointer;
}


h2 {
    font-weight: bold;
    font-size: 1.5625rem;
    margin: 120px 60px 0;
}

h3 {
    color: dimgrey;
    font-size: 1.25rem;
    font-weight: bold;
}

p, h2, h3, button {
    color: dimgrey;
}

a {
    color: inherit;
    font-size: 0.9375rem;
}

li {
    list-style-type: none;
    margin-bottom: 20px;
}

.header-navbar {
    display: flex;
    flex-direction: row;
    flex: 2;
    justify-content: space-around;
    padding: 20px 30px;
}

.header-link {
    text-decoration: none;
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    .header-navbar {
        flex-wrap: wrap;
        flex: 1;
        justify-content: space-around;
    }

    .header-link {
        padding-right: 3px;
    }
}

.header-image {
    flex: 2;
    padding: 20px 50px;
}

.content {
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url("img/bg.jpg");
    background-size: cover;
    color: white;
    height: 700px;
}

.content-description {
    position: absolute;
    left: 10px;
    top: 25%;
}

.content-text {
    font-size: 1.25rem;
    max-width: 800px;
    color: white;
    margin-left: 60px;
}

.content-title {
    font-size: 6.25rem;
    font-weight: bold;
    margin: 40px 0 0 60px;
}

.footer-image {
    flex: 3;
    padding: 20px 50px;
}

.footer-text {
    flex: 2;
    justify-content: center;
    padding: 20px 50px;
    color: grey;
}

.contact-column-links {
    height: 300px;
    background-color: ghostwhite;
    display: flex;
    margin-top: 70px;
    align-items: center;
}

.contacts-links {
    display: flex;
    flex-direction: column;
}

.column-links {
    color: rgba(40, 40, 40, 0.84);
    text-decoration: none;
    padding: 20px 20px;
    font-size: 1rem;
}

.content-button {
    border-color: white;
    color: white;
    background-color: rgba(1, 1, 1, 0);
}

.benefits-button {
    background-color: dimgray;
    border-color: dimgrey;
    color: white;
}

.benefits {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(auto, auto);
    background-color: ghostwhite;
}

.benefits-description {
    margin-left: 60px;
}

.text {
    font-size: 1.25rem;
    max-width: 600px;
}

.benefits-right-top {
    background-color: cadetblue;
    padding: 20px;
    margin: 100px 60px 0;

}

.benefits-right-text {
    color: white;
    margin-left: 0;
}

.benefits-right-title {
    font-weight: bold;
    color: white;
    font-size: 1.25rem;
    margin-left: 0;
}

.benefits-right-bottom {
    margin: 20px 60px 20px;
    background-color: white;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 20px;
}

.note-description {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(auto, auto);
    margin-left: 60px;
    color: dimgrey;
}

.note-description-text {
    margin-bottom: 20px;
    max-width: 375px;
}

.note-text {
    max-width: 50%;
    margin: 40px 60px;
}

@media screen and (max-width: 1200px) {
    .note-description {
        grid-template-columns: repeat(1, 1fr);
    }

    .note-description-text {
        max-width: 600px;
    }

    .note-text {
        max-width: 600px;
    }
}

.note-description-column {
    margin-bottom: 40px;
}

.read-more-link {
    text-decoration: none;
    font-weight: bold;
    color: dimgrey;
}

.note-title {
    font-size: 0.9375rem;
    color: darkgrey;
    margin: 23px 0;
}

.note-text-title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 375px;
}

a:hover, a:active, a:focus {
    color: darkgrey;
    text-decoration: none;
}
